.btn-warning {
    width: 7em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #c314ea;
    outline: none;
    background-color: white;
    color: rgb(161, 147, 169);
    transition: 1s;
    border-radius: 0.5sem;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-warning::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #fffbff;
    transition: 0.5s;
    transform-origin: center;
}

.btn-warning::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #ffffff;
    transition: 0.5s;
}

.btn-warning:hover::before,
.btn-warning:hover::after {
    transform: scale(0)
}

.btn-warning:hover {
    box-shadow: inset 0px 0px 25px #bc32fc;
    background-color: plum;
    border: 3px ridge #c314ea;
    color: rgb(101, 19, 94);
}

h2{
    color: rgb(236, 142, 157);
}

h4{
    color: rgb(80, 139, 176);
}